@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 75px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #ffffff;
    margin: auto;
}

nav .navbar .logo a {
    color: #FFA633;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 15px;
}

.navbar .menu li a {
    color: #b59b59;    
    font-weight: 500;
    text-decoration: none;
}

.signup-box {
    width: 200px;
    color: #ffffff;
    padding: 10px;
    background-color: #201F1D;
    border-radius: 8px;
    text-align: center;
    margin: 50px auto;
    font-size: 16px;
    font-weight: bold;
}



.button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #2980b9;
    padding: 7px 12px;
    ;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
}


.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #d9d9d9, #b7e6b5, #b59b59);


}
.content-regis form .user-details-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.img-fluid {
    max-width: 30%;
    padding-bottom: 15px;
    height: auto;
}

form .user-details-login .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}


.user-details-login .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details-login .input-box input:focus,
.user-details-login .input-box input:valid {
    border-color: #b59b59;
}

.content-regis form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #b59b59;
}


form .role-details .role-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 50%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #b59b59;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #d9d9d9;
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #d9d9d9, #b59b59);
}

.login-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    text-align: center;
    /* Menengahkan tautan di tengah halaman */
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content-regis form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content-regis .category {
        flex-direction: column;
    }
}   

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}


.navbar {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


header a,
footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

header a:hover,
footer a:hover {
    color: #ddd;
}

.homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("images/home-bg.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}

.homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .content h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.content p {
       max-width: 50%;
        margin: 0 auto;
}

.content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

section h2 {
    font-size: 2rem;
}

section>p {
    text-align: center;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

section.about {
    margin: 0 auto;
    max-width: 1200px;
}

.about .company-info {
    margin-top: 30px;
}

.about h3 {
    margin: 30px 0 10px;
}

.about .team {
    text-align: left;
    width: 100%;
}

.about .team ul {
    padding-left: 20px;
}

section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

.portfolio .cards .card {
    padding: 0 0 20px;
}

.services .card img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}

.portfolio .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

.cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}

.about .row {
    padding: 0 10px;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
}

footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer span {
    color: #fff;
}

footer a {
    padding: 0;
}

@media screen and (max-width: 860px) {
    .navbar .all-links {
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 100vh;
        top: 75px;
        background: #333;
        transition: left 0.3s ease;
    }

    .navbar #menu-toggler:checked~.all-links {
        left: 0;
    }

    .navbar .all-links li {
        font-size: 18px;
    }

    .navbar #hamburger-btn {
        display: block;
    }

    section>p {
        text-align: center;
    }

    section .cards .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
    }

    .homepage .content h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .homepage .content .text {
        font-size: 17px;
    }

    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }

    footer a {
        height: 0;
    }
}

@media screen and (max-width: 560px) {
    section .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.select-menu {
    position: relative;
    display: inline-block;
}

.select-menu .select-btn {
    padding: 10px;
    background: #FFA633;
    color: #F2F2F2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
} 

.options {
    position: absolute;
    margin-top: 5%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.option {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover {
    background: #F2F2F2;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
    left: 0;
    margin-top: 75px;
    /* Add margin-top to avoid overlapping with navbar */
}

.sidebar header {
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

a.active,
a:hover {
    color: #FFA633;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}


@media(max-width: 860px) {
    .sidebar {
        height: 100%;
        width: 70px;
        left: 0;
      
        /* Update margin */
    }

    header,
    #btn,
    #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

navside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 75px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

navside .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 95%;
    background: #ffffff;
    margin: auto;
}

navside .navbar .logo a {
    color: #FFA633;
    margin-left: -10px;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

navside .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 15px;
}

.navbar .menu li a {
    color: #FFA633;
    font-weight: 500;
    text-decoration: none;
}

.content-wrapper {
    padding-top: 8rem;
    margin-left: 22.5rem;
    width: 70%;
}

.content-wrapper .title {
    font-size: 28px;
    font-weight: 600;
    position: relative;
}

.content-wrapper .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, #d9d9d9, #b7e6b5, #b59b59);
}

.content-profile form .user-details {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: auto;
    /* Sesuaikan dengan lebar yang diinginkan */
}

form .user-details .input-box {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 90%;
}

form .user-details .input-box .details{
    font-weight: bold;
    margin-right: 2%;
    width: 30%;
    /* Sesuaikan dengan spasi antara label dan input */
}

form .user-details .input-box input {
    font-weight: 600;
    width: 100%;
    padding: 8px;
    border-color: #b59b59;
    margin-top: 5px;
    /* Sesuaikan dengan spasi antara input dan label berikutnya */
    box-sizing: border-box;
}

.content-profile form .button input {
    background-color: #b59b59;
    width: 25%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.container-manajemen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.empty-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.box {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 100%;
    height: 200px;
    /* Sesuaikan dengan tinggi gambar yang diinginkan */
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.btns {
    margin-top: 15px;
}

.btns button {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.btns button:last-child {
    margin-right: 0;
}

.content-regis .wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.wrapper #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #b59b59;
    cursor: pointer;
    display: none;
}

.wrapper.active:hover #cancel-btn i {
    display: block;
}

.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}

.wrapper.active:hover .file-name {
    display: block;
}

.content-regis #custom-btn {
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #b59b59;
}
.container-table {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 25%;
    }

    .col-2 {
        flex-basis: 25%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }
    .col-5 {
        flex-basis: 25%;
    }
     .col-6 {
        flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }

    .slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
}
.table-row .button{
    height: 40px;
    width: 100px;
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 20px;
    background-color: #4070F4;
    border-radius: 5%;
    margin: -8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

